:root {
  --primary-color: #181822;
  --secondary-color: #6c63ff;
  --default-background-image: linear-gradient(180deg, #181823, #181823);
  --default-font: "Sen", serif;
  --accent-font: "Playfair Display", serif;
}

body {
  font-family: var(--default-font);
  line-height: 20px;
  color: white;
  background-color: black;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 55px;
}

p {
  font-size: 16px;
  line-height: 30px;
  opacity: 70%;
}

footer {
  margin-left: 30px;
}

footer a {
  text-decoration: none;
}

footer li {
  list-style: none;
  padding-bottom: 30px;
}

footer li a {
  color: white;
}

footer li a:hover {
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

footer span {
  opacity: 60%;
}

.nav-container {
  margin: 10px 40px;
}

.logo {
  max-height: 80px;
}

.nav-item {
  padding: 20px;
}
.nav-item a:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.active {
  color: var(--secondary-color) !important;
  font-weight: bold;
}

.bg-image {
  max-height: 500px;
  object-fit: cover;
  opacity: 45%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.homepage-hero {
  padding: 100px 40px;
  margin-bottom: 80px;
  text-align: center;
}

.homepage-hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  opacity: 100%;
}

.homepage-hero h1 {
  font-size: 96px;
  line-height: 1.5;
}

.homepage-hero h2 {
  font-family: var(--accent-font);
  font-size: 34px;
  font-weight: normal;
  line-height: 1.5;
}

.heading-small {
  color: var(--secondary-color);
}

.project-description {
  padding: 40px 32px;
  background-color: var(--primary-color);
}

.btn-branding {
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-outline {
  border: 1px solid var(--secondary-color);
}

.btn-outline:hover {
  background-color: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.work-btn {
  margin: 100px;
}

.hero-section {
  color: black;
}

.hero-content {
  padding: 60px;
  max-width: 80%;
}

.hero-section h1 {
  font-size: 54px;
  line-height: 1.2;
  min-width: 305px;
}

.hero-section h2 {
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--accent-font);
}

.about-hero {
  background-color: #f1d8fa;
  padding: 0;
}

.btn-solid {
  background-color: var(--secondary-color);
}

.btn-solid:hover {
  background-color: none;
  border: 1px solid var(--secondary-color);
  color: black;
  transition: all 200ms ease-in-out;
}

.tree-img,
.heart-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.skills-container {
  padding-top: 100px;
}

.work-container {
  background-color: #fff3e4;
  padding: 0;
}

.projects-column {
  padding: 20px;
}

.projects-content {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  max-width: 550px;
  min-width: 382px;
}

.github-btn {
  background-color: var(--secondary-color);
  margin: 60px 0 0;
  padding: 20px 70px;
}

.github-btn:hover {
  background-color: none;
  border: 1px solid var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.contact-container {
  margin-top: 60px;
}

.contact-container h2 {
  color: #ad1f79;
}

.contact-links {
  color: white;
  text-decoration: none;
}

.footer-container {
  background-color: var(--primary-color);
  padding: 50px 60px 30px;
  margin-top: 100px;
}

.social-links a {
  background-color: #ede6fb;
  border-radius: 50%;
  color: var(--secondary-color);
  font-size: 20px;
  margin: 15px 10px 0 7px;
  padding: 5px 7px;
  text-decoration: none;
}

.social-links a:hover {
  background-color: var(--secondary-color);
  color: white;
  transition: all 100ms ease-in-out;
}

.coded-by {
  margin-top: 30px;
}

.coded-by-link {
  color: aqua;
}

.open-source-link {
  color: var(--secondary-color);
}

@media (max-width: 991.98px) {
  h2,
  .hero-section h1 {
    font-size: 44px;
  }

  h3 {
    font-size: 34px;
  }

  h3,
  .homepage-hero,
  .homepage-hero h1 {
    margin-bottom: 0;
  }

  h4 {
    padding-top: 20px;
  }

  footer {
    padding: 10px;
  }

  footer,
  .homepage-hero h2,
  .heading-small,
  .nav-container,
  .coded-by {
    margin: 0;
  }

  ul {
    padding-left: 20px;
  }

  footer li {
    padding-bottom: 20px;
  }

  .nav-item {
    padding: 20px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .nav-item:hover {
    background-color: #6c63ff;
    transition: all 200ms ease-in-out;
  }

  .nav-item a,
  .nav-item a:hover,
  .active:hover {
    color: white !important;
  }

  .homepage-hero {
    padding: 40px 20px 0;
  }

  .homepage-hero h1 {
    font-size: 48px;
    line-height: 2;
  }

  .homepage-hero h2 {
    font-size: 30px;
  }

  .homepage-hero h2,
  .weather-img {
    padding-top: 0;
  }

  .hero-section,
  .projects-column {
    padding: 0;
  }

  .hero-content,
  .project-description,
  .skills-content {
    text-align: center;
  }

  .hero-content {
    padding: 20px;
    max-width: 100%;
  }

  .project-description {
    padding: 0 0 20px 0;
  }

  .projects-column {
    margin-bottom: 20px;
  }

  .world-clock-img {
    margin-top: 24px;
  }

  .github-btn {
    margin: 5px 0 20px;
  }

  .skills-container {
    padding: 30px;
  }

  .skills-content {
    padding: 0 5px;
  }

  .contact-container {
    margin: 15px 0 40px;
  }

  .footer-container {
    padding: 10px 20px;
    margin-top: 0;
  }

  .social-links {
    margin: 0 0 30px 10px;
  }
}
@media (max-width: 1024px) {
  .about-content {
    text-align: center;
    padding: 20px;
    max-width: 100%;
  }
}
