:root {
  --primary-color: #181822;
  --secondary-color: #6c63ff;
  --default-font: "Sen", serif;
  --accent-font: "Playfair Display", serif;
}

body {
  font-family: var(--default-font);
  line-height: 20px;
  color: white;
  background-color: black;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 55px;
}

p {
  font-size: 16px;
  line-height: 30px;
  opacity: 70%;
}

.homepage-hero {
  background-image: linear-gradient(180deg, #181823, #181823);
  padding: 160px 40px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
}
.homepage-hero p {
  margin: 0;
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: bold;
  opacity: 100%;
}

.homepage-hero h1 {
  font-family: var(--default-font);
  font-size: 96px;
  line-height: 1.5;
}

.homepage-hero h2 {
  font-family: var(--accent-font);
  font-size: 34px;
  line-height: 1.5;
  font-weight: normal;
  opacity: 70%;
}

.hero-section {
  background-color: #ede6fb;
  margin-top: 160px;
  color: black;
}

.hero-content {
  padding: 60px;
}

.hero-section h1 {
  font-size: 54px;
  line-height: 1.2;
}

.hero-section h2 {
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--accent-font);
}

.hero-section p {
  font-size: 16px;
  list-style: 2;
}

.heading-small {
  color: var(--secondary-color);
}

.btn-branding-outline {
  color: white;
  border: 1px solid var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
}

.btn-branding-outline:hover {
  background-color: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.work-btn {
  margin: 100px;
}

.project-box {
  margin-right: 20px;
}
.project-description {
  margin-top: 0;
  padding: 40px 32px;
  background-color: var(--primary-color);
}
.projects-btn {
  color: black;
}

.tiffany-img {
  max-height: 600px;
}
.work-container {
  background-color: #fff3e4;
}

.working-img {
  max-height: 600px;
}

.recipe-img {
  min-width: 382px;
}

.projects-column {
  padding: 20px;
}

.projects-content {
  max-width: 550px;
  border: 2px solid white;
  min-width: 382px;
}

.github-btn {
  background-color: var(--secondary-color);
  margin-bottom: 20px;
}
.github-btn:hover {
  background-color: black;
  border: 1px solid var(--secondary-color);
}

@media (max-width: 960px) {
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 34px;
    margin-bottom: 0;
  }
  h4 {
    padding-top: 20px;
  }
  .homepage-hero {
    padding: 80px 20px;
    margin-bottom: 0;
  }
  .homepage-hero h1 {
    font-size: 48px;
    line-height: 2;
    margin-bottom: 0;
  }
  .homepage-hero h2 {
    font-size: 30px;
    padding-top: 0;
  }
  .hero-section {
    padding-bottom: 20px;
  }
  .hero-section h1 {
    font-size: 44px;
  }
  .hero-content {
    text-align: center;
    padding: 20px;
  }
  .project-description {
    padding: 0 0 20px 0;
    text-align: center;
  }
  .projects-column {
    padding: 0;
    margin-bottom: 20px;
  }
  .projects-content {
    border: none;
  }
  .weather-image {
    padding-top: 0;
  }
  .world-clock-img {
    margin-top: 24px;
  }
}
